[2021-05-26 11:31] anniinakinnunen opened #4 "histo.root"
In the end of README.md it says "_As a result you will get a ObjectInfoNtuple.root and histo.root file with simple variables and histograms._". However, the code does not produce a file called histo.root. Is the code supposed to produce the file or is this old information?

[2021-05-27 22:57] #4 closed

[2021-06-15 13:09] katilp opened #5 "Add photon ID criteria"
For the photon ID criteria, we have the following information in http://opendata.cern.ch/docs/cms-physics-objects-2011

![image](https://user-images.githubusercontent.com/5859918/122053914-7cced000-cde7-11eb-89de-db98659f46a1.png)

The first paragraph says "However for photon identification additional selection needs to be applied."
The table from [the note](https://cms-physics.web.cern.ch/cms-phy

[2021-06-16 13:41] katilp commented on #5
Check the photon part in https://github.com/cms-opendata-analyses/AOD2NanoAODOutreachTool/blob/devworkshop/src/AOD2NanoAOD.cc

[2021-06-16 18:37] caredg opened #6 "Check TriggerObjectAnalyzer for missing information"
https://github.com/cms-legacydata-analyses/PhysObjectExtractorTool/blob/b5b5fb62fd554247d1b74b9a77e860182606c70c/PhysObjectExtractor/src/TriggObjectAnalyzer.cc#L141
There is something not right with the information extracted from this analyzer.  It should be checked.

[2021-06-17 15:28] caredg opened #8 "Check all objects (currently implemented) identification"
Based on the implementation of Nik and Farrah, check the electron id criteria and make the changes to the corresponding analyzer.  Please add the links to any resources found.  Do not hesitate to check with Nik and Farrah directly

[2021-06-18 02:22] npervan commented on #8
Electron ID came from this twiki if that helps:
https://twiki.cern.ch/twiki/bin/view/CMS/EgammaCutBasedIdentification

[2021-06-18 02:24] npervan commented on #5
I've just submitted a pull request with photon ID implemented according to this twiki:
https://twiki.cern.ch/twiki/bin/viewauth/CMS/CutBasedPhotonID2012

I also emailed the POG and can update it if they recommend using the paper definitions

[2021-06-19 03:15] manda07A commented on #8
**Electrons:**
**A.** Types of Variables:
[https://cms-nanoaod-integration.web.cern.ch/integration/master-cmsswmaster/mc102X_doc.html#Electron](url)
[https://cms-nanoaod-integration.web.cern.ch/integration/master-cmsswmaster/data102X_doc.html#Electron](url)
**B.**  Documentation pages for electron identification:
[https://twiki.cern.ch/twiki/bin/view/CMS/EgammaCutBasedIdentification](url)
[https:/

[2021-06-24 14:27] katilp opened #15 "Config has input file and GT from 2011 and jet energy corrections from 2012"
The example file in [the config file](https://github.com/cms-legacydata-analyses/PhysObjectExtractorTool/blob/master/PhysObjectExtractor/python/poet_cfg.py) is from [2011](https://github.com/cms-legacydata-analyses/PhysObjectExtractorTool/blob/master/PhysObjectExtractor/python/poet_cfg.py#L22) as well as the GT FT_53_LV5_AN1, but jet energy correction files are from 2012, at least judged from the

[2021-06-24 14:35] jmhogan commented on #15
Hi -- I guess we need to update the global tag in here then. We have been working with this config to dump the text files: https://github.com/cms-legacydata-analyses/PhysObjectExtractorTool/blob/master/PhysObjectExtractor/JEC/jec_cfg.py
And that one uses the 2012 global tag.

I'm sure they aren't the same. We just need to decide which year should be the default example in here. Then we can make th

[2021-06-24 16:04] npervan commented on #15
If we are planning to use 2011 files I can update the global in jec_cfg and produce new text files. I will do that and send a pull request.

[2021-06-24 16:23] jmhogan commented on #15
@npervan I think it's ok -- in the end when we're "done" developing we'll remove the text files anyway and instruct people to run jec_cfg.py. Julian's poet_cfg.py already has people give a GT string to swap MC-vs-data text files so it will be easy to keep the GT and files matching.

[2021-06-24 16:37] npervan commented on #15
Okay I'll leave it as is then

[2021-06-24 21:31] katilp commented on #15
It's probably easiest to update the input file to a 2012 and the GT to FT53_V21A_AN6_FULL.

@jmhogan I think you can keep the txt files, as long as it is very clear (as it is now) where they come from and where to get the original (or other) ones. Eventually, we'll add the corresponding db files to the container.

The db files needed for 2011 and 2012 trigger examples are known, and can both be ad

[2021-06-25 01:57] caredg commented on #15
I agree, we can work with 2012 data.  That will make it easier to pick up Stefan's analysis example and trim it down for the final analysis flow section (using the simple event loop template).  The PR passed the github actions workflow checks, I will be merging soon after I check a couple of things...

[2021-06-25 23:24] caredg opened #17 "Pat fails with data"
@npervan and @jrw46742 thanks for the PR.   If I change the isData flag to True and run over real events, the job fails with the message below.  Is this expected?  Evidently the routine looks for GenParticles, which does not make sense.  Or maybe I am misusing something....  If I am, it would be good to add some comments in the config file.  Thanks.

[code]

[2021-06-25 23:26] caredg opened #18 "Option to store all gen particles"
https://github.com/cms-legacydata-analyses/PhysObjectExtractorTool/blob/7dd7ab78da8ef0fbfdc54ff83d40d30332cfa8c8/PhysObjectExtractor/python/poet_cfg.py#L147

@apetkovi1, thanks for the PRs.  I think it would be good to add the option to store all gen particle.  In fact is maybe better to use the option "0:0" for that.  What do you think?

[2021-06-25 23:28] caredg opened #19 "Store number of trakcs"
https://github.com/cms-legacydata-analyses/PhysObjectExtractorTool/blob/7dd7ab78da8ef0fbfdc54ff83d40d30332cfa8c8/PhysObjectExtractor/src/TrackAnalyzer.cc#L104
@apetkovi1, for completeness, it would be good to store the number of tracks in the event as well, as we do with the rest of the object. Thanks!

[2021-06-25 23:32] npervan commented on #17
This was a known issue for last year's workshop and is why we only demonstrated PAT jets on MC last year. I believe this is still being looked at but probably @jrw46742 can comment further.

[2021-06-26 01:17] jrw46742 commented on #17
@caredg, you are not missing something. @npervan is right, this is a known issue. Dr. Hogan (@jmhogan?) and I are quite close to a fix that will probably be pushed on Monday.

[2021-06-28 07:17] apetkovi1 commented on #18
Sounds good, I will also then change this comment from https://github.com/cms-legacydata-analyses/PhysObjectExtractorTool/blob/7dd7ab78da8ef0fbfdc54ff83d40d30332cfa8c8/PhysObjectExtractor/python/poet_cfg.py#L147 to if "0:0 collect them all"

[2021-06-29 04:26] caredg commented on #19
closed with #20

[2021-06-29 04:26] #19 closed

[2021-06-29 04:26] caredg commented on #18
closed with #20

[2021-06-29 04:26] #18 closed

[2021-06-29 04:27] caredg commented on #17
closed with #21

[2021-06-29 04:27] #17 closed

[2021-06-29 13:42] katilp opened #22 "Fix workflow"
Now that the job requires access to the condition data, the sed statement commenting global tag needs to be removed otherwise the job fails in the workflow. Curiously enough, the workflow itself does not fail but the output shows [an exception](https://github.com/cms-legacydata-analyses/PhysObjectExtractorTool/runs/2938552742?check_suite_focus=true#step:4:166):

[code]

The workflow settings can b

[2021-06-29 14:13] katilp commented on #22
This was finally not due to the missing condition data access, but it is a real "ProductNotFound".
https://twiki.cern.ch/twiki/bin/view/CMSPublic/WorkBookTroubleShooting#Error_Found_zero_products_matchi
Would someone be able to look at why this happens? @caredg @npervan @jmhogan This is about `reco::JetFlavourMatchingCollection`, see above.

The test runs the default config from https://github.com

[2021-06-29 14:45] caredg commented on #22
Mmmm, I was so much concentrating on testing on data, that I did not check, this time, running on MC.  Maybe something broke with the new additions.... I will check if @npervan or @jmhogan don't beat me to it....

[2021-06-29 15:50] jmhogan commented on #22
@jrw46742 You were supposed to put that "runOnData" inside an "if isData". Quite clearly it will muck up the MC....

[2021-06-29 20:05] #22 closed

[2021-06-29 20:48] caredg commented on #15
Fixed with #13

[2021-06-29 20:48] #15 closed

[2021-06-30 17:18] katilp opened #26 "doPAT flag - CMS jargon?"
We could have a more descriptive naming for the flag in the config file. Do I understand correctly that this is only for the jet correction reading and has no other effect?

If so we could call it readCorrFromTxt or readCorrFromDb so that it conveys better what is happening. PAT is CMS jargon and does not tell what is the actual difference.

But correct me if I'm wrong, I did not look in details,

[2021-06-30 17:59] jmhogan commented on #26
@katilp No, it's actually doing lots more. It is running the whole PAT sequence, so we could really use pat::muons, pat::electrons, pat::taus, etc. For now we're just using the pat::jet collection it creates, but the code becomes quite different for applying the corrections and also for interacting with b-tagging.

I will go through and make significantly more comments here in the config. Perhaps

[2021-06-30 21:02] katilp opened #27 "EcalLaser db files needed for doPAT"
It appears that using PAT objects in POET (isData and doPAT true)  requires very large db files such as
EcalLaserAPDPNRatios_2012ABCD_offline_20130205.db which is of  5 GB

I think we should be careful and gain an understanding of the implications  when adding PAT objects. The AOD electrons should already be fully calibrated at least what comes to the Ecal Laser corrections (they correct for the r

[2021-06-30 21:08] jmhogan commented on #27
@katilp Ok....I don't know how to tell all of these things. We don't see any printout about .db files or see messages about anything being downloaded. How can/should we be checking what is accessed?

We can probably learn how to run what we need for jets without "process.patDefaultSequence" in the cms.Path, but I don't know it already. We would need more time for exploration.

[2021-06-30 21:20] katilp commented on #27
No problem, it is indeed only with my new magic skills that I can finally test which db's are actually downloaded. I'll investigate a bit further.

[2021-07-01 05:54] katilp commented on #27
OK, it is indeed the PAT part that includes **everything** in the config file, you can check that with
`edmConfigDump poet_cfg.py > dump_poet_cfg.py`

It includes all reco stuff including all possible producers (including castor etc).

If I remove the doPAT part, the config dump is slim as expected:

[code]
The risky part is

`from PhysicsTools.PatAlgos.patTemplate_cfg import *`

which goes to
htt

[2021-07-01 15:22] jmhogan commented on #27
@katilp Ok, I will look into how to import only what we need for jets. I'm guessing it's the import statements that trigger access of large .db files?

Philosophical question, maybe for @caredg too:

In principle, beyond the workshop, it might be nice to have a config option that allows analyzers to create any PAT object, they might like the extra features for their use case and be willing to have

[2021-07-01 15:54] caredg commented on #27
@jmhogan, I would not be against having the option for PAT, but this would require very solid documentation (I know there are twikis and such, but as all our documentation one can arrive to the same place through many paths, so it is complicated to navigate) and very clear code. That is in principle possible, but with our person-power limitations, it becomes hard.  There are many many things that

[2021-07-01 17:09] jmhogan commented on #27
Ok, I'm working on a way to do jet and met corrections without that import patTemplate_cfg statement and without patDefaultSequence. I will try to get it ready by Monday.

For MET there's an obvious benefit to the PAT structure -- we've never approached getting the corrected MET without the PAT infrastructure.

In my opinion, the pat::jet infrastructure is indeed superior because all the links hav

[2021-07-02 07:35] katilp opened #31 "Modify the action workflow so that it fails on errors"
The current action workflow does not fail on compilation errors or on cmsRun job exceptions, e.g.:

- https://github.com/cms-legacydata-analyses/PhysObjectExtractorTool/runs/2969661153?check_suite_focus=true#step:4:121
- https://github.com/cms-legacydata-analyses/PhysObjectExtractorTool/runs/2969661153?check_suite_focus=true#step:4:140

Add a check on errors to the command.sh script (or else, wher

[2021-07-02 08:24] katilp commented on #31
Add `set -e` to command.sh

[2021-07-02 14:24] #31 closed

[2021-07-02 14:30] caredg opened #33 "Compilation broken in PATJetAnalyzer"
https://github.com/cms-legacydata-analyses/PhysObjectExtractorTool/blob/cc31ca6d3652a98000a56f2bcc90b45315ac064d/PhysObjectExtractor/src/PatJetAnalyzer.cc#L143

@sib37385 and @jmhogan please take a look at this [output](https://github.com/cms-legacydata-analyses/PhysObjectExtractorTool/pull/32/checks#step:4:121).  The compilation is still broken.

[2021-07-02 19:08] caredg commented on #33
seems fixed, it compiled

[2021-07-02 19:08] #33 closed

[2021-07-02 19:12] caredg opened #36 "Jobs fail with data and no pat"
@sib37385  and @jmhogan, while I was updating the config file I realized that even though the code compiles, when using
isData=True and doPAT=false, and running over data, of course, the job fails with the error below.

Also, please pick up the latest changes before making a PR, otherwise things like wiping out tracks, vertices and gen particles keep occuring.  I put them back in the cms path in t

[2021-07-02 19:17] jmhogan commented on #36
Hmmm, that's confusing, because I know @sib37385 pulled in the new changes -- that's where compile failures snuck in...

This is a dumb error on our part from rushing and not testing each configuration each time. Obviously we cannot run (and don't need to run) this flavor analyzer on Data.

[2021-07-02 21:43] caredg opened #37 "Inconsistencies introduced in poet_cfg"
https://github.com/cms-legacydata-analyses/PhysObjectExtractorTool/blob/a4cf83b69de65d1fa246b9f4a608cefea611ca7f/PhysObjectExtractor/python/poet_cfg.py#L13

@katilp, there are some inconsistencies, I think (unless I am not looking at it correctly) in your recent push.  The line above, for example, is not consistent with the current by default.

Also, global tag `FT53_V21A_AN6_FULL::All` does not e

[2021-07-02 22:12] caredg commented on #37
I think I fixed these things with 7c01b42

[2021-07-02 22:12] #37 closed

[2021-07-03 05:09] caredg commented on #36
fixed with 7b68b4e

[2021-07-03 05:09] #36 closed

[2021-07-03 10:26] katilp commented on #37
I'm sorry, that was totally unintended. I was updating my own fork from the original repo and did not imagine that solving conflicts would push to the original repo given that I was sure that I was making a PR to my own fork. Now I know that it can happen and won't do it again. I'm sorry  for the trouble

[2021-07-03 12:28] katilp commented on #27
Closing this as Julie's updates to the poet config solve this issue

[2021-07-03 12:28] #27 closed

[2021-07-03 12:59] katilp opened #40 "DB files for 2012 data and MC"
The db files needed for poet_cfg.py to run with the doPAT option and trigger for 2012 datasets:

## Data
[code]
The db files (copied from `/cvmfs/cms-opendata-conddb.cern.ch/FT53_V21A_AN6_FULL`), updated stripped main db file FT53_V21A_AN6_FULL.db and the text dump of it are in the artifact of https://github.com/katilp/condition-data-test/actions/runs/996183513
Total size 108 MB

[code]

Notes:
-

[2021-07-04 12:24] katilp opened #41 "Jet corrections always from the txt files?"
@jmhogan Do I understand correctly that the jet correction parameters are read from the txt files in both cases, for the `doPat` or else?

That's what I read from the comments in the poet_cfg.py config file (they are very clear, thanks!), and it is also in agreement with what I observe when running on 2011 without creating the txt files first.

That's all OK for now. In the longer term, I'm just w

[2021-07-04 13:44] jmhogan commented on #41
In doPat we just still need a text file for the uncertainty. I'll look at
this NanoAOD and see if they found a way to do it without, but we couldn't
figure that out last year.

On Sun, Jul 4, 2021, 7:25 AM Kati Lassila-Perini ***@***.***>
wrote:

[2021-07-05 07:32] katilp opened #42 "2011 txt files"
@jmhogan When I run jec_cfg.py for 2011 data, I get the following txt files generated:

[code]

With these available and running the script which looks for db files needed, I see the following exception

`Principal::getByLabel: Found zero products matching all criteria Looking for type: edm::AssociationVector<edm::RefToBaseProd<reco::Jet>,std::vector<float>,edm::RefToBase<reco::Jet>,unsigned int,e

[2021-07-05 18:12] katilp commented on #40
@clelange
Main DB file with updated path
- 2012 data: https://github.com/katilp/condition-data-test/actions/runs/1001861401
- 2012 MC: https://github.com/katilp/condition-data-test/actions/runs/1001908526

Data run does not have the db files because of typo in copying, but they are the same as before.

[2021-07-05 20:10] clelange commented on #40
I had already adjusted them myself with the ones above.

[2021-07-05 20:28] katilp commented on #40
`cmsopendata/cmssw_5_3_32_vnc:latest`: tested and working with 2012 data and MC, poet_cfg.py with

[code]

[2021-07-06 22:45] caredg commented on #40
@katilp, this last recipe works for 2012 with the new container.  So all fine there.

I am just puzzled with `FT53_V21A_AN6_FULL` GT in the VM, because it crashes with:

[code]

I suppose that, for the VM, it does not make much difference using `FT53_V21A_AN6` rather than `FT53_V21A_AN6_FULL` because, from [these instructions](http://opendata.cern.ch/docs/cms-guide-for-condition-database#proton-pr

[2021-07-08 13:26] jmhogan commented on #42
Hi, I've asked @jrw46742  to test this out. To me it looks like a problem with the suite of btags when trying to run addJetCollection. Julian, see if you can replicate and poke at the config (maybe give our specific b discriminator as an input parameter) to avoid needing this missing discriminator.

[2021-07-09 20:16] jmhogan commented on #42
@katilp @caredg @jrw46742

Julian has tracked down this error. In 2011 files:
-- There appear to be some different b-tagging outputs stored. The CMSSW_5_3_32 default tagger lists are too new for these files, but we can edit the list in the config to avoid this particular failure.
-- The trigger analyzer is causing a seg fault once we fix this so that POET runs to that point. Probably a collection

[2021-07-09 23:38] caredg opened #43 "myjets process seg faults when running with more events"
@jmhogan, I made a larger scale test executing the poet_cfg.py over all events (-1).  I tested this with `isData=True` and `doPat=False`, with the JSON quality activated, and using local (new 2012 directory in container) and remote access to the DB.  In both tests, the job fails with the seg violation below [1].  There is a core dump, which I could't learn much from using `gdb`, unfortunately.

A

[2021-07-09 23:48] caredg commented on #42
@jmhogan @jrw46742 If the trigger analyzer fails running over 2011 files, it is most probably because of the triggers that we ask for.  To test, you could pick up [this trigger config line](https://github.com/cms-opendata-analyses/TriggerInfoTool/blob/489b28df8b5143094589fa39b03aef58cd4eba2d/TriggerSimplePrescalesAnalyzer/python/simpleprescalesinfoanalyzer_cfg.py#L56) instead of the one in the POE

[2021-07-10 21:39] caredg opened #44 "Number of muons not very useful"
https://github.com/cms-legacydata-analyses/PhysObjectExtractorTool/blob/e4cc1fd506286024763fa3ac8c5691b7b724b5f5/PhysObjectExtractor/src/MuonAnalyzer.cc#L191

This number is not very useful as there is a min pT cut later.  The number could actually become confusing (and this probably repeats in other analyzers).

[2021-07-11 18:29] jmhogan commented on #43
@caredg See PR #45 for a fix. Something about the continue statement (rather than an if) was messing up the indexing of btags, and this particular event seems to have gotten more btag values in that vector than there were jets....I was able to run the whole file with this fix.

[2021-07-11 18:32] jmhogan opened #46 "Photon isos all zero in Muon data?"
@npervan would you mind checking on photon isolation? I was testing some things for electrons and noticed that all the photon isolation values are 0 if I store charged, neutral, photon isolation in the tree.

Either the member functions are null/wrong or the rho is too large/wrong....or maybe just need to test a different sample?

In the end it would be good to store the rho-corrected versions of

[2021-07-11 19:18] caredg commented on #43
fixed with 65bf99b

[2021-07-11 19:18] #43 closed

[2021-07-11 19:19] npervan commented on #46
The member functions can be seen [here](https://github.com/cms-sw/cmssw/blob/CMSSW_5_3_X/DataFormats/EgammaCandidates/interface/Photon.h#L384-L414) so I think they should be fine unless there is some reason that "setPflowIsolationVariables" is not done on data.

If you let me know what sample you're looking at I can try checking these values and the rhos to see what is causing all the isolation va

[2021-07-12 14:54] jmhogan commented on #46
@npervan I just ran the default data file that we have in the config.

[2021-07-13 05:47] caredg opened #47 "Rare failure with 'SimpleJetCorrectionUncertainty'"
@jmhogan, I ran over the whole `Run2012B_TauPlusX` dataset and out of the 3006 jobs, ~7% failed with this error.  I was running with `isData=True` and `doPat=True` .

[code]
I searched quickly for the error and found this:
https://hypernews.cern.ch/HyperNews/CMS/get/physTools/2974/1.html

[2021-07-13 13:31] jmhogan commented on #47
@jrw46742 Can you check on this and add a protection? If it's the eta value being too large like this hypernews thread, then I think it is fine to pass something like 4.99 to this function so it grabs the largest bin that it has.

Run on the file listed in this error message to test it. A useful thing is to do something like this at the top of the analyze function:
bool print = false;
if(iEvent.id

[2021-07-13 13:54] katilp commented on #42
@jmhogan I also think that a separate poet_2011_cfg.py would be the best.

[2021-07-13 14:48] katilp opened #48 "doPat and isData as input arguments"
Could we possibly have `doPat` and `isData` as input arguments to the config file? That would be helpful for automated runs, e.g. on the cloud environment.

That would require just `import sys` and a few additional lines at the beginning of the config file, and it can go as:

[code]

I have tested and it works, and I can make a PR if you don't think it complicates the config file too much.
I can a

[2021-07-13 17:33] caredg commented on #48
It is fine with me, it will actually save me a couple of ugly `sed` lines in the [job.sh](https://github.com/cms-legacydata-analyses/PhysObjectExtractorTool/blob/354b726852efdeb03589ad9ba310b2e337a7de61/PhysObjectExtractor/job.sh#L66) template for HTCondor submission. What do you think @jmhogan?

[2021-07-13 17:39] jmhogan commented on #48
@katilp @caredg Sure!

[2021-07-13 20:53] #48 closed

[2021-07-13 20:56] caredg opened #50 "Update README"
Instructions in README need to accommodate #49 (look at #48).

[2021-07-14 14:33] jrw46742 commented on #42
@caredg's suggestion fixes the seg fault due to the trigger analyzer.

[2021-07-15 21:41] npervan commented on #46
Made pull request[https://github.com/cms-legacydata-analyses/PhysObjectExtractorTool/pull/53](url)

[2021-07-16 02:59] caredg commented on #47
I am reopening this issue because even after the safety, there were 3 jobs that failed for the 2012C dataset:
[code]

[2021-07-17 17:54] #47 closed

[2021-07-17 17:56] caredg commented on #50
fixed with d195846

[2021-07-17 17:56] #50 closed

[2021-07-18 07:17] caredg opened #55 "Pat fails in certain MC datasets"
@jmhogan, in some MC datasets like [this one](http://opendata.cern.ch/record/8001) or [this one](http://opendata.cern.ch/record/9743), for instance, the pat routine fails for **all** files in the dataset.  It is weird because in others, like DY, TTbar or W+jets, it works fine.  Do you have any idea what it could be?  Maybe they lack a collection? I will run these two without pat.

[code]

[2021-07-26 07:38] katilp opened #56 "2015 MINIAOD branch"
2015 release will consist of MINIAOD (and AOD for data as the MINIAOD format at the time is not necessarily adequate). The MINIAOD was produced with CMSSW_7_6_3.
https://twiki.cern.ch/twiki/bin/view/CMSPublic/WorkBookMiniAOD#Run2015_16Dec2015_Data_76X_versi

Check what changes are needed in POET to run over 2015 MINIAOD
The documentation for 2015 MINIAOD is in https://twiki.cern.ch/twiki/bin/view/

[2021-09-28 17:19] caredg opened #60 "Change comment on gen particles"
https://github.com/cms-legacydata-analyses/PhysObjectExtractorTool/blob/42e213ee9d9a56ce28803b8a8ed5aa58160eac62/PhysObjectExtractor/python/poet_cfg.py#L207

Here, change comment to "status:pdgid" and specify that sign needs to be included (or change the code to an abs, I do not know what is best)

[2022-03-16 20:39] npervan opened #62 "Electron Missing Hits Definition"
Definition of electron missing hits misapplied in initial Electron Analyzer. Will fix definition and respond to blog post with explanation.

[2022-03-16 22:18] npervan commented on #62
Update definition to remove subtraction because "trackerExpectedHitsInner" already gives "number of expected crossed layers before first trajectory's hit." ([Reference](https://cmsdoxygen.web.cern.ch/cmsdoxygen/CMSSW_5_3_19/doc/html/d8/df2/classreco_1_1TrackBase.html#ace44323365edf6ec8d9bf5c540f40cb1)

Definition also reflected in public electron ID twiki in Glossary of Variables under Conversion

[2022-03-16 22:33] npervan commented on #62
Update missing_hits<=0 check to missing_hits==0 for clarity (asked about in forum post). No functional change.

[2022-04-29 20:49] #62 closed

[2022-05-01 02:11] pmandrik commented on #56
For CMSSW_7_6_7 &
RunIIFall15MiniAODv2/TTJets_TuneCUETP8M1_13TeV-amcatnloFXFX-pythia8 sample &
[PhysObjectExtractorTool](https://github.com/cms-opendata-analyses/PhysObjectExtractorTool) 2015MiniAOD branch
"combinedSecondaryVertexBJetTags" b-tagging variable from used in the code is empty, instead I found "pfCombinedInclusiveSecondaryVertexV2BJetTags" to be relevant.

Also, no generator weights ex

[2022-05-05 03:56] caredg commented on #46
Closed with #53

[2022-05-05 03:56] #46 closed

[2022-05-05 04:02] caredg commented on #44
This needs to be fixed for the other physics objects

[2022-05-05 04:05] caredg commented on #40
I suppose we can close this

[2022-05-05 04:05] #40 closed

[2022-05-05 04:06] caredg commented on #26
@jmhogan, I suppose we can close tis one?

[2022-05-05 04:08] #8 closed

[2022-05-05 04:09] caredg commented on #5
I suppose we can close this one

[2022-05-05 04:09] #5 closed

[2022-05-05 04:34] caredg opened #64 "Check all EDAnalyzers in the 2015MiniAOD branch"
In the spirit of #56, check the EDAnalyzers that were initially implemented in the [2015MiniAOD branch](https://github.com/cms-opendata-analyses/PhysObjectExtractorTool/tree/2015MiniAOD/PhysObjectExtractor/src) to verify that:

* they are Aligning with the documentation found in the [WorkBookMiniAOD2015](https://twiki.cern.ch/twiki/bin/view/CMSPublic/WorkBookMiniAOD2015); in partular, with the imp

[2022-05-05 04:48] caredg opened #65 "Check Muon and Tau Analyzers in 2015MiniAOD branch"
Following the general recommendations in #64, check the [Muon](https://github.com/cms-opendata-analyses/PhysObjectExtractorTool/blob/2015MiniAOD/PhysObjectExtractor/src/MuonAnalyzer.cc) and the [Tau](https://github.com/cms-opendata-analyses/PhysObjectExtractorTool/blob/2015MiniAOD/PhysObjectExtractor/src/TauAnalyzer.cc) Analyzers.

[2022-05-05 09:21] katilp commented on #65
Question: [2012 MuonAnalyzer](https://github.com/cms-opendata-analyses/PhysObjectExtractorTool/blob/2012/PhysObjectExtractor/src/MuonAnalyzer.cc#L218-L229) (accessing reco::Muon collection) shows how to access tracks? Can this also be done with 2015 MiniAOD (accessing [pat::Muon](https://cmsdoxygen.web.cern.ch/cmsdoxygen/CMSSW_7_6_7/doc/html/d6/d13/classpat_1_1Muon.html) collection)?

[2022-05-05 09:32] katilp commented on #65
Replying to myself (sorry for the noise)...
It is already there, so ignore my question:

[code]

[2022-05-05 19:24] katilp opened #66 "Check Electron Analyzer in 2015MiniAOD branch"
Following the general recommendations in #64 check the [Electron](https://github.com/cms-opendata-analyses/PhysObjectExtractorTool/blob/2015MiniAOD/PhysObjectExtractor/src/ElectronAnalyzer.cc) Analyzer

- in particular, check the input for [electronID](https://github.com/cms-opendata-analyses/PhysObjectExtractorTool/blob/2015MiniAOD/PhysObjectExtractor/src/ElectronAnalyzer.cc#L195-L197) with respe

[2022-05-09 21:28] katilp commented on #64
Recording the very useful list from @jmhogan (in the WS mattermost) here:

- Jets in 2015 data:

  - Jet ID for 2015: https://twiki.cern.ch/twiki/bin/view/CMS/JetID13TeVRun2015
  - JEC page for GTs and tar files: https://twiki.cern.ch/twiki/bin/viewauth/CMS/JECDataMC#2015_Data  (MC recs are in the table above, GT = 76X_mcRun2_asymptotic_RunIIFall15DR76_v1)
  - JER info: https://twiki.cern.ch/twiki

[2022-05-11 20:33] caredg opened #67 "References for jets"
Thanks to Julie, we now have some references for jets:
Jets in 2015 data:

Jet ID for 2015: https://twiki.cern.ch/twiki/bin/view/CMS/JetID13TeVRun2015

JEC page for GTs and tar files: https://twiki.cern.ch/twiki/bin/viewauth/CMS/JECDataMC#2015_Data  (MC recs are in the table above, GT = 76X_mcRun2_asymptotic_RunIIFall15DR76_v1)

JER info: https://twiki.cern.ch/twiki/bin/view/CMS/JetResolution#2015

[2022-05-11 20:34] caredg opened #68 "References for electrons"
Thanks to Julie, we have some references for electrons:

Electron ID in 2015 data:

MVA-based (I actually have code for implementing the MVA prediction outside of VID): https://twiki.cern.ch/twiki/bin/view/CMS/MultivariateElectronIdentificationRun2Archive#MVA_recipes_for_2015_data_50ns_2

Cut-based: https://twiki.cern.ch/twiki/bin/view/CMS/CutBasedElectronIdentificationRun2Archive#Working_points_f

[2022-05-11 20:35] caredg commented on #66
Take into account the references in [here](https://github.com/cms-opendata-analyses/PhysObjectExtractorTool/issues/64#issuecomment-1121600157)

[2022-05-11 20:37] caredg commented on #68
didn't realize about #64

[2022-05-11 20:37] #68 closed, assigned to nobody

[2022-05-11 20:38] caredg commented on #67
Didn't realize about #64

[2022-05-11 20:38] #67 closed, assigned to nobody

[2022-05-11 20:39] caredg commented on #65
Please take a look at the references in [here](https://github.com/cms-opendata-analyses/PhysObjectExtractorTool/issues/64#issuecomment-1121600157)

[2022-05-16 15:27] caredg commented on #64
From Julie:
Some references for jet substructure variable storage in early MiniAOD:
https://github.com/jmhogan/Ljmet-Com/blob/CMSSW_7_6_X/src/JetSubCalc.cc

thePrunedMass   = corrunc(double)l2l3jet.userFloat("ak8PFJetsCHSPrunedMass");
theSoftDropMass = corrunc(double)l2l3jet.userFloat("ak8PFJetsCHSSoftDropMass");
theNjettinessTau1 = (double)corrak8.userFloat("NjettinessAK8:tau1");
theNjettinessTau

[2022-05-16 15:38] jmhogan commented on #64
To be a little more general:   variable = thisPatJetObject.userFloat("specificName");
Where the "specificName" strings are in the comment above.

JEC/JER don't get propagated to userFloat content, so the code link shows our method to calculate and apply the corrections onto those mass variables.

[2022-06-09 07:31] katilp opened #70 "2012 branch: git clone instructions"
Clarify in [README](https://github.com/cms-opendata-analyses/PhysObjectExtractorTool/blob/2012/PhysObjectExtractor/README.md):

When using a CMS open data container, `cmsenv` command should **not** be done as it unsets updated library paths.
The git clone command should then be `git clone https:...` instead of `git clone git:...`

In those containers (and maybe else, I did not test) git clone git

[2022-06-30 14:47] caredg opened #72 "Add data quality file in the poet config"
The poet config file needs the data quality certification file. Lines like the ones state [here](https://opendata.cern.ch/record/14210) need to be added to the configuration.

[2022-06-30 15:31] caredg opened #73 "Change tag for BTagging"
https://github.com/cms-opendata-analyses/PhysObjectExtractorTool/blob/95acbd12f9c2d6cbf63d6cde9b83658eedc841fd/PhysObjectExtractor/src/JetAnalyzer.cc#L168

Essentially, make [this change](https://github.com/alexander-held/PhysObjectExtractorTool/commit/8b5dce810e9fb63b59fb53cc955bb797bc712333)

[2022-06-30 21:31] caredg opened #74 "Implement SIP3D variables for electrons and muons"
for electrons and muons, one variable that we are missing and it is explicitly used in the ttbarljets analysis, as stated [here](https://indico.cern.ch/event/546872/contributions/2228814/attachments/1304075/1955661/approval.pdf) and [here](http://cms.cern.ch/iCMS/jsp/openfile.jsp?tp=draft&files=AN2015_233_v9.pdf) is the 3D impact parameter `SIP3D`.  The original implementation is [here](https://gi

[2022-06-30 21:33] caredg opened #75 "Implement tight and loose mva electron selection"
so what Sezen asks for [here](https://github.com/ADL4HEP/ADLAnalysisDrafts/blob/main/CMS-B2G-16-024/CMS-B2G-16-024_CutLang_v2.adl#L74) coincides with the [reference](https://twiki.cern.ch/twiki/bin/view/CMS/MultivariateElectronIdentificationRun2Archive#Non_triggering_electron_MVA_deta) for mva non-triggering electrons.  These can be called something like electron_ismvaTight, for instance.

[2022-07-04 03:34] caredg commented on #75
Closed by 24e3f7865fa3307936bb3f729a2087e7df31ddb7`

[2022-07-04 03:34] #75 closed, assigned to nobody

[2022-07-04 03:36] caredg commented on #73
Closed by e04391cda768eea28d2252bb6fbc0e9c5a19e434

[2022-07-04 03:36] #73 closed, assigned to nobody

[2022-07-04 03:38] caredg commented on #56
Resolved by e04391cda768eea28d2252bb6fbc0e9c5a19e434 and superseeded by #64

[2022-07-04 03:38] #56 closed

[2022-07-07 17:56] caredg opened #80 "Reformulate trigger object analyzer"
The current [trigger object analyzer](https://github.com/cms-opendata-analyses/PhysObjectExtractorTool/blob/2015MiniAOD/PhysObjectExtractor/src/TriggObjectAnalyzer.cc) is working but it seems to take all trigger objects in the event (at least all the selected by the PAT routines) but there is no way to identify them.  So, essentially, they can't be used for anything.  Remember that trigger objects

[2022-07-08 04:25] caredg commented on #72
Done in https://github.com/cms-opendata-analyses/PhysObjectExtractorTool/commit/24e3f7865fa3307936bb3f729a2087e7df31ddb7

[2022-07-08 04:25] #72 closed, assigned to nobody

[2022-07-08 04:27] caredg commented on #74
Done with 6ab15bae2dfd6493334556506cf3d979069ca5d8 and 05bba3968ba2e61c1fead1d21fea3abb56e1effe

[2022-07-08 04:27] #74 closed, assigned to nobody

[2022-07-18 21:07] caredg opened #82 "btag vs heavyflavor"
@jmhogan , [this](https://github.com/cms-opendata-analyses/PhysObjectExtractorTool/blob/15958d847bbfabe03cde103736ff8adcf1047ce2/PhysObjectExtractor/src/JetAnalyzer.cc#L406) is a typo, right?  It should be `jet_hflav`, or am i reading it wrong?

[2022-07-19 07:45] caredg commented on #82
closed by [aac0140](https://github.com/cms-opendata-analyses/PhysObjectExtractorTool/commit/aac0140cd90707e10e3d78805b54d7237774663b)

[2022-07-19 07:45] #82 closed, assigned to nobody

[2022-07-19 18:24] jmhogan commented on #82
Yes, thank you!

On Mon, Jul 18, 2022 at 4:07 PM E. Carrera ***@***.***> wrote:

--
*Julie M. Hogan*
Bethel University
Dept. of Physics

[2022-11-14 15:26] katilp opened #84 "2011 branch: update poet_cfg.py to 2011 (instead of 2012)"
In the 2011 branch, the config file poet_cfg.py refers to 2012 and not to 2011

Change:

- [x] input file in lines 52 and 54
- [ ] input files example listing lines 63-70
- [x] GTs in line 82,83 and in the commented lines 86-89, should be FT_53_LV5_AN1 and START53_LV6A1
- [x] validated runs json line 92 and 96, should be Cert_160404-180252_7TeV_ReRecoNov08_Collisions11_JSON.txt
  - this file needs

[2022-11-15 17:12] katilp opened #85 "2011 branch: updates needed (other than the poet config)"
- [x] clean the data directory and copy over the correct json file
- [x] create the JEC txt files by running the updated jec_cfg.py `cmsRun jec_cfg.py True` and `cmsRun jec_cfg.py False`
- [ ] find out where to get the correct `JetResolutionInputAK5PF.txt`
       - NB: I copied over the one from the 2012 branch but that is certainly not correct
- [x] when running with option `isPat = False` JetAna

[2022-11-16 03:06] katilp opened #87 "JetsTag -> jetTag in befficiency_recojets_cfg.py"
In branches 2011 and 2012 Fix typo JetsTag -> jetTag in BTagging/python/befficiency_recojets_cfg.py

[2022-11-16 03:18] #87 closed, assigned to nobody

[2022-11-16 08:23] katilp opened #88 "Remove (of fix) befficiency_recojets_cfg.py"
Of the two config file in BTagging/python, `befficiency_recojets_cfg.py` is not mentioned in the [README](https://github.com/cms-opendata-analyses/PhysObjectExtractorTool/tree/2012/BTagging#readme).
And it does not seem to work in 2012 either. With what I thought would have been the fix (#87 ), it still fails with:

[code]

Maybe it is not intended to be used and could be removed?

[2022-11-16 19:31] #84 closed, assigned to katilp

[2022-11-16 19:55] katilp opened #89 "2011 branch: investigating why PAT jets make POET fails"
From #85

### What happens:
- Running POET on 2011 data/MC with PatJetAnalyzer.cc (i.e. `cmsRun python/poet_cfg.py True True` and `cmsRun python/poet_cfg.py False True`) fails with

[code]

### Codebase:
- the POET code is the same for the 2011 and 2012 branches
- the changes are due to the input file or to the condition data

### Investigating
- Testing on lxplus (`CMSSW_5_3_32/src` area using th

[2022-11-18 08:02] katilp commented on #89
@jmhogan Would you be able to check if what I did above i,e, replaced

          cms.InputTag("softElectronByPtBJetTags"),
          cms.InputTag("softElectronByIP3dBJetTags"),
          cms.InputTag("softMuonBJetTags"),
          cms.InputTag("softMuonByPtBJetTags"),
          cms.InputTag("softMuonByIP3dBJetTags"),

with

          cms.InputTag("softPFElectronBJetTags"),
          cms.InputTag("

[2022-11-18 15:42] jmhogan commented on #89
@katilp This is almost certainly exactly the problem -- looks like the 5_3_32 jetProducer wasn't old-data-proof... I think what you have done is sensible -- what's more, we're recommending the combinedSecondaryVertex tagger, so these more basic "is there a lepton" taggers are not going to be in common use.

I can set up this configuration swap in the poet config.

[2022-11-18 16:41] katilp commented on #89
For what it matters, the 2011 AOD are from 12Oct2013 (with CMSSW_5_3_12_patch1) and those of 2012 are from 22Jan2013 (CMSSW_5_3_7_patch5) i.e. 2011 reprocessing is more recent.

[2022-11-22 13:28] katilp commented on #89
@jmhogan These input tags changed, there is an error that appears:

[code]

I cannot trace that back to the event content (comparing 2011 vs 2012).

Maybe you could have a look at how to change to  `softPFElectronBJetTags` and `softPFMuonBJetTags` in the PAT part of the configuration file. Doing that in the producer does not seem to be the proper solution (as expected...)

[2022-11-22 16:57] jmhogan commented on #89
@katilp Testing now.

I think the reference error on a specific event happens when the collection is somehow incomplete... I'm testing shortening the discriminator list in the original "patJets" collection made by the producer to not include the softElectron or softMuon inputTags.

Testing the full data file now (200 evts was successful). Did you use the default ZZ MC file that's listed in the con

[2022-11-22 17:02] katilp commented on #89
I see this error both with the example data (Run2011A/DoubleMu) and MC (Summer11LegDR/ZZTo2e2mu_mll4_7TeV-powheg-pythia6) but that was with the brute-force edit in the original JetProducer_cfi

[2022-11-22 17:08] katilp commented on #89
With `root://eospublic.cern.ch//eos/opendata/cms/Run2011A/DoubleMu/AOD/12Oct2013-v1/10000/000D143E-9535-E311-B88B-002618943934.root?` for the data to be exact:

[code]

[2022-11-22 17:09] jmhogan commented on #89
Ok, thanks, then I seem to be having success by removing rather than changing the names. I think this is fine, in the sense that they were only used "behind the scenes" and not for a necessary stored variable.

[2022-11-22 18:39] jmhogan commented on #85
@katilp unfortunately I think we are kind of stuck on the JetResolution input file... we got this file from the Workbook instructions, and it's definitely for 2012: https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideJetResolution
I'm not sure why this was never moved from this developer's cmssw fork to the main one.

Looking at the same folder in central cmssw, the 53X branch only contains reso

[2022-11-22 18:40] jmhogan commented on #89
Ran both the data and MC test files through completely without error. So I'll push this change.

[2022-11-22 18:57] katilp commented on #85
OK, thanks for investigating!

I would expect JER for 2011 to be more recent than those for 2012 (because of their later reprocessing) but that does not change what you've found (or did not find...). They should still be 5_3_X.

I can try to do some further data archeology with that file JER file name, and then we can decide.

[2022-11-22 19:43] jmhogan opened #94 "2012 branch: fix b-tagging scale factors"
Openly accessible documentation is only for 2011...
https://twiki.cern.ch/twiki/bin/view/CMSPublic/BtagRecommendation2011OpenData

2012 has the same WP cuts:
But different scale factors and uncertainties: https://twiki.cern.ch/twiki/bin/viewauth/CMS/BtagRecommendation53XReReco

Probably best to fix it and contact BTV about getting the 2012 page made public.

[2022-11-22 21:34] katilp commented on #85
For the record going through JEC/JER meetings at that time:
- on JEC (but not JER) for 2011 rereco:
[Jet Energy Corrections for 2011 53x reconstruction](https://indico.cern.ch/event/282190/contributions/642573/attachments/518913/715868/2013_11_07_JEC_dhaitz.pdf)
  - NB the conclusion slide: "Open question: How to deal with uncertainties?"
- on legacy 2011: [Jet Energy Corrections for Legacy
reproc

[2022-11-23 11:30] katilp commented on #85
There's a collection of different tables for JER in https://twiki.cern.ch/twiki/bin/viewauth/CMS/JetResolution

and, in particular,  for 2011
- https://twiki.cern.ch/twiki/bin/viewauth/CMS/JetResolution#JER_Scaling_factors_and_Unce_AN2
- https://twiki.cern.ch/twiki/bin/viewauth/CMS/JetResolution#History_of_JER_measurements

e.g

![image](https://user-images.githubusercontent.com/5859918/203536505-

[2022-11-23 14:37] katilp opened #95 "Add license file"
Everyone OK with the GPL-3.0 license?

[2022-11-23 16:53] katilp opened #96 "Change to container db settings in configs as default?"
@caredg  @jmhogan Do you agree with changing the default GlobalTag settings for running in the OD container with the local dbs?
e.g. for 2012 poet_cfg.py:

[code]

If OK, I can change all configs (poet, jec, and b-efficiency for 2011, 2012 and 2015) correspondingly.
The other options will remain in the config file comments.

The OD containers with dbs are now the default containers on the [portal

[2022-11-23 19:37] jmhogan commented on #96
Yes, that's fine, shouldn't change anything 🙂

On Wed, Nov 23, 2022, 10:53 AM Kati Lassila-Perini ***@***.***>
wrote:

[2022-11-23 19:40] jmhogan commented on #85
Yes, the JER factors themselves are all accessible for each year, and I
believe/hope we already have 2011 and 2012 different from each other.

But to apply them one needs to know the measured pT resolution of jets.
That's the information stored in that text file, and that's what we're
missing for 2011.

Julie

On Wed, Nov 23, 2022, 5:30 AM Kati Lassila-Perini ***@***.***>
wrote:

[2022-11-28 07:53] katilp commented on #96
OK, thanks, done.

[2022-11-28 07:53] #96 closed, assigned to katilp

[2022-11-28 07:54] katilp commented on #88
Done

[2022-11-28 07:54] #88 closed, assigned to nobody

[2022-11-28 07:56] #89 closed, assigned to nobody

[2022-11-28 08:14] katilp opened #99 "2015 branches: no jec_cfg.py"
The 2015 branches do not jec_cfg.py to extract configs from the GT. Is that intended?

They do have the corrections files but it would be good to show how to get them from the condition data similarly as in the 2011 and 2012 branches.

[2022-11-28 15:10] nsmith- commented on #64
A possible direction we can go in is to port some of these corrections to [correctionlib](https://cms-nanoaod.github.io/correctionlib/index.html).
An introductory tutorial is at https://cms-nanoaod.github.io/correctionlib/correctionlib_tutorial.html

[2022-11-30 20:04] katilp opened #105 "Update workflow files"
Update workflow files:
- `commands.sh` so that it can be run outside the github workflow as well
- `.github/workflows/main.yaml`
  - to use the new containers
  - to run on PR to the respective branch

[2022-11-30 21:14] #105 closed, assigned to katilp

[2022-11-30 21:15] katilp commented on #95
GPL-3.0 license added for the 2011, 2012 and 2015MiniAOD branches

[2022-11-30 21:15] #95 closed, assigned to nobody

[2022-11-30 21:16] #70 closed, assigned to nobody

[2022-11-30 21:36] katilp opened #107 "Verify message # Conditions read from CMS_CONDITIONS via FrontierProd"
### What happens

It looks to me that the message
`# Conditions read from  CMS_CONDITIONS  via FrontierProd`
comes in all cases, i.e. also when the condition data are read from the sqlite files locally in the container.

This happens with these lines both commented and uncommented:

[code]
The container has the local `/cvmfs/cms-opendata-conddb.cern.ch/` area

### How to reproduce

`docker run -it